// =====================================================================

// Landing Page 

// =====================================================================

//sign-up form container
#sign-up {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    border-radius: 0px 10px 10px 10px;
}
.sign-in-row{
	display: flex;
	justify-content: center;
}
.form-container {
	background-color: #fff;
    padding: 20px 20px 20px 20px;
}

#about-hookedin {
	padding-top: 60px;
	margin-bottom: 60px;
}

.description-text {
	margin-bottom: 40px;
}



// =====================================================================

// Dashboard

// =====================================================================
.search-results {
	margin-top: 70px;
	width: 100%;
}

.individual-result {
	margin: 10px 0;
 	position: relative;
 	box-shadow: 7px 6px 5px rgba(0,0,0, 0.4); 
}

// vertical centering of main content
.main-content {
	padding-top: 130px;
}

//Modal 

.modal-links {
	background: linear-gradient(to bottom right, #F0C27B, #4B1248);
}

.modal-body {
	padding: 15px 15px 0 15px;
}

.modal-links {
	padding: 20px;
	color: white;
}

#profile-section {
	position: fixed;
	width: 30%;
	float: left;
	top: 51px;
}
.form-group{
	padding-right: 0px;

}



// =====================================================================

// Profile

// =====================================================================

#profile-background {
	height: 150px;
	background: red; /* For browsers that do not support gradients */
	background: linear-gradient(to bottom right, #F0C27B, #4B1248); /* Standard syntax */
}

.profile-heading {
	padding-bottom: 40px;
	margin-top: -110px;
}

#profile-media, #profile-about-me {
	margin-bottom: 100px;
}

.profile-info {
	border-radius: 5%;
}
.about-pair{
    display: flex;
    text-align: left;

}
.about-item-label{

	width: 50%;
}
.about-item{
	flex-grow: 1;
	text-align: right;
	word-break: break-all;
}
.about-icon{
	color: $light-grey;
	margin-top: 0px;
}
.about-section-container{
	color: $dark-grey;
}

#profile-media, #profile-about-me, #profile-employment-info {
	border: 1px solid #eee;
    padding: 50px;
    margin-top: 50px;
    height: 270px;
}
#edit-form{
	width: 400px;
	margin: 50px auto;
	position: relative;
	text-align: center;
}
#edit-form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
.content{
	margin-top: 60px;
}
.border-section{
	border-left: 1px solid #eee;
}
.multi-input-row{
	display: flex;
}
.form-pair{
	display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.input-label{
	width: 100%;
}
.input-field{
	flex-grow: 1;
	margin-right: 10px;
	height: 40px;
	padding: 10px;
}
.url-input{
	width: 100%;
}


// =====================================================================

// About

// =====================================================================

.featurette{
	overflow: hidden;
}
.featurette-divider{
	margin: 80px, auto;
}
.about-text{
	padding: 20px;
}
.profile-divider{
	border-top: 2px solid #eee;
}

// =====================================================================

// Profile

// =====================================================================


@media only screen and (max-width: 992px) {
    .border-section {
        border-left: none;
    }
}






