h1, h2, h3, h4, h5, h6 {
  margin-top: 10px; }

* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

#sign-up-form {
  width: 400px;
  margin: 50px auto;
  position: relative;
  text-align: center; }

#sign-up-form fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative; }

/*Hide all except first fieldset*/
#sign-up-form fieldset:not(:first-of-type) {
  display: none; }

/*inputs*/
#sign-up-form input, #sign-up-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px; }

/*buttons*/
#sign-up-form .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px; }

#city {
  margin-top: 15px; }

#sign-up-form .action-button:hover, #sign-up-form .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60; }

/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px; }

.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px; }

/*progress-bar*/
#progress-bar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step; }

#progress-bar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative; }

#progress-bar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #333;
  background: white;
  border-radius: 3px;
  margin: 0 auto 5px auto; }

/*progress-bar connectors*/
#progress-bar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/ }

#progress-bar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; }

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progress-bar li.active:before, #progress-bar li.active:after {
  background: #27AE60;
  color: white; }

.input-error {
  border: 3px solid tomato !important; }

#password-error, #email-error {
  color: red;
  font-weight: 400; }

#firstname, #lastname {
  font-size: 25px;
  font-family: "Source Sans Pro", sans-serif; }

.navbar-text {
  margin: 15px 10px; }

#employment-text {
  color: green; }

#results-hr {
  color: #000;
  margin: 10px 0; }

.fa-briefcase {
  margin-top: 5px;
  color: green; }

#employed {
  margin-bottom: 80px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px; }

* {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: none; }
  a:visited {
    color: black;
    text-decoration: none; }
  a:active {
    color: black;
    text-decoration: none; }

.nav-tabs li {
  background-color: #d3d3d3;
  width: 50%; }

.nav-tabs > li > a {
  border-radius: 0;
  margin-right: 0; }

.about-item {
  color: black;
  text-decoration: none;
  background-color: transparent; }

.navbar-brand {
  background-color: transparent;
  color: white;
  text-shadow: none; }
  .navbar-brand:visited {
    background-color: transparent;
    color: white;
    text-shadow: none; }

.edit {
  background-color: #bf5700;
  border: none;
  text-shadow: none;
  margin-top: 40px; }

.person-target {
  height: 50%;
  width: 50%;
  position: absolute;
  top: 50px; }

.one {
  left: 50px; }

.two {
  right: 50px; }

.navbar-brand {
  background-color: transparent;
  color: white;
  font-size: 30px; }

.navbar-text {
  color: white;
  font-size: 24px; }

.navbar {
  margin-bottom: 70px;
  height: 70px;
  background-color: transparent;
  border-radius: none;
  border: none; }

.landing-box-tab {
  border: none !important; }

input::placeholder {
  background-color: white; }

/* Change the white to any color ;) */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

.main-image {
  background: url(../../assets/heading-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 50px; }

.log-in {
  margin-top: 0; }

.profile-image {
  border-radius: 50%;
  height: 200px; }

.edit-profile-image {
  position: absolute;
  top: -110px;
  right: 490px;
  border: 4px solid white; }

.results-image {
  border-radius: 50%;
  height: 100px; }

.main-title {
  color: #ffffff; }

.main-subtitle {
  color: #ffffff; }

.img-circle {
  padding: 20px;
  height: 300px; }

.landing-icon {
  width: 30%; }

.step-container-header {
  margin-bottom: 20px; }

.background-banner-image {
  background: url(../../assets/heading-background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px; }

.edit-fullname {
  padding-top: 50px; }

.brand-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  color: #392f2d !important; }

h1 {
  font-size: 50px; }

h2 {
  font-size: 24px; }

.sign-in-row {
  display: flex;
  justify-content: center; }

.form-container {
  background-color: #fff;
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.5); }

.description-text {
  margin-bottom: 40px; }

.step-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px; }

.search-results {
  width: 100%; }

.individual-result {
  margin: 10px 0;
  position: relative;
  padding: 10px;
  border-left: 5px solid green;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 4px 2px -2px #e4e4e4; }

#dashboard-page {
  background-color: #eee; }

.main-row {
  margin-top: 75px; }

.modal-links {
  background: linear-gradient(to bottom right, #F0C27B, #4B1248); }

.modal-body {
  padding: 15px 15px 0 15px; }

.modal-links {
  padding: 20px;
  color: white; }

#results-company {
  margin-top: 0px;
  font-weight: 200;
  font-style: italic; }

#employment-status {
  color: green; }

#profile-section {
  background-color: white;
  border: 1px solid #ccc;
  padding: 30px 0;
  margin-top: 20px; }

.input-areas {
  margin-top: 20px; }

.form-group {
  padding-right: 0px; }

#profile-background {
  height: 150px;
  background: red;
  /* For browsers that do not support gradients */
  background: linear-gradient(to bottom right, #F0C27B, #4B1248);
  /* Standard syntax */ }

.profile-heading {
  padding-bottom: 40px;
  margin-top: -110px; }

#profile-media, #profile-about-me {
  margin-bottom: 100px; }

.profile-info {
  border-radius: 5%; }

.about-pair {
  display: flex;
  text-align: left; }

.about-item-label {
  width: 50%; }

.about-item {
  flex-grow: 1;
  text-align: right;
  word-break: break-all; }

.about-icon {
  color: #d3d3d3;
  margin-top: 0px; }

.about-section-container {
  color: #392f2d; }

#profile-media, #profile-about-me, #profile-employment-info {
  border: 1px solid #eee;
  padding: 50px;
  margin-top: 50px;
  height: 270px; }

#edit-form {
  width: 400px;
  margin: 50px auto;
  position: relative;
  text-align: center; }

#edit-form fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  /*stacking fieldsets above each other*/
  position: relative; }

.content {
  margin-top: -20px;
  padding-bottom: 70px;
  padding-top: 27px;
  background-color: white;
  position: relative;
  box-shadow: 0px 11px 19px rgba(0, 0, 0, 0.17); }

.border-section {
  border-left: 1px solid #eee; }

.form-pair {
  display: flex;
  flex-wrap: wrap;
  flex: 1; }

.input-label {
  width: 100%;
  margin-top: 15px; }

.input-field {
  flex-grow: 1;
  margin-right: 10px;
  height: 40px;
  padding: 10px;
  border-radius: 0; }

.url-input {
  width: 100%; }

.edit-modal-content {
  padding-bottom: 20px;
  border-radius: 0; }

.edit-modal-dialog {
  width: 60%; }

.featurette {
  overflow: hidden; }

.featurette-divider {
  margin: 80px, auto; }

.about-text {
  padding: 20px; }

.profile-divider {
  border-top: 2px solid #eee; }

@media only screen and (max-width: 992px) {
  .border-section {
    border-left: none; } }
@media only screen and (max-width: 992px) {
  .landing-icon {
    width: 20%; } }

/*# sourceMappingURL=style.css.map */
