@import "variables";
@import "mixins";

// sign up form
#sign-up-form{
	max-width: 800px;
    min-width: 300px;
	margin: 50px auto;
	position: relative;
	text-align: center;
	margin-top: 100px;
}
#sign-up-form fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#sign-up-form fieldset:not(:first-of-type) {
	display: none;
}
#signup-body {
	background-color: #eee;
	padding-top: 95px;
}
/*inputs*/
#sign-up-form input, #sign-up-form textarea {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 20px;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 17px;
}

#input-first-name {
	display: inline;
	width: 49%;
}
#input-last-name {
	display: inline;
	width: 49%;
	float: right;
}
#email-error {
	margin:0;
}
#location-error {
	margin: 0;
}
#linkedin-picture {
	width: 100%;
}
#linkedin-URL {
	width: 100%;	
}

#email, #pass, #confirmP {
	width: 100%;
}
/*buttons*/
#sign-up-form .action-button {
	width: 100px;
	background: $dark-orange;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#sign-up-city {
	margin-top: 0px;
	float: left;
	display: inline;
	width: 49%;
}

#sign-up-state {
	display: inline;
	width: 49%;
}
#sign-up-form .action-button:hover, #sign-up-form .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
.form-control {
	margin-bottom: 20px;
}
/*headings*/
.fs-title {
	font-size: 20px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progress-bar*/
#progress-bar {
	margin-bottom: 30px;
	overflow: hidden;
	padding-left:0;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progress-bar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
#progress-bar li:before {
	content: counter(step);
	counter-increment: step;
	width: 30px;
	line-height: 30px;
	display: block;
	font-size: 18px;
	color: #333;
	background: white;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progress-bar connectors*/
#progress-bar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 15px;
	z-index: -1; /*put it behind the numbers*/
}
#progress-bar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progress-bar li.active:before,  #progress-bar li.active:after{
	background: $dark-orange;
	color: white;
}
.input-error{
	border: 3px solid tomato !important;
}

#password-error, #email-error {
	color: red;
	font-weight:$font-weight-body;
}

//Dashboard results
#firstname, #lastname {
	font-size: 25px;
	font-family: $main-font;
}

#location {

}

.navbar-text {
	margin: 15px 10px;
}

#employment-text {
	color: $employment-green;
}

#results-hr{
	color: #000;
	margin: 10px 0;
}

.fa-briefcase {
	margin-top: 5px;
	color: $employment-green;
}

#employed {
	margin-bottom: 80px;
}

.header-image {
	background: url("../../assets/group.jpg") center center no-repeat;
	background-size: cover;
	height: 570px;
}
.headline {
	height: 100%;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}

.headline-text {
	color: white;
	display: flex;
    justify-content: center;
}
.about-headline{
	@include font-size-xxx-large;
}
.h1 {
	margin-top: 75px;
}





























