// Tabs for sign in/up
.navbar-brand {
	background-color: transparent;
	color: white;
	font-size: 30px;
	padding-top: 24px;
}
.logo-header{
	height: 70px;
}
.navbar-text{
	color: white;
	font-size: 24px;
}

.navbar {
	margin-bottom:0px;
	padding-left: 40px;
	padding-top: 5px;
	padding-right: 40px;
	border-radius: none;
	border: none;
	background-color: $dark-orange;
	height: 80px;
	font-family: $branding-font;
}
.navbar-default {
	margin-top:0px;
}

.navbar-signup {
	background-color: $dark-orange;
}

.index-navbar{
	background-color: transparent;
	margin-left: 40px;
	margin-right: 40px;
	padding-top: 20px;
}
.profile-navbar{
	background-color: $dark-orange;
	margin-left: 0;
	margin-right: 0;
	padding-top: 5px;
}
.landing-box-tab{
	border: none !important;
}
.nav-pic{
	@include navbar-image;
	margin-top: 10px;
}

// override chrome placeholder css
input::placeholder{
	background-color: white;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}

//background-image placeholder
.main-image {
	background: url(../../assets/heading-background.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 50px;
}

//log-in header
.log-in {
	margin-top: 0;
}

//user's profile image
.profile-image {
	@include profile-image;
}

.edit-profile-image{
    border: 2px solid white;
}
.picture-container{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -100px;
}
.results-image {
	@include results-image;
}

.main-title {
	color: $white;
}

.main-subtitle {
	color: $white;
}

.img-circle{
	padding: 20px;
	height: 300px;
}

// index
.landing-icon{
	width: 30%;
}
.step-container-header{
	margin-bottom: 70px;
	font-size: 64px;
}
.background-banner-image{
	background: url(../../assets/heading-background.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 300px;
}
.background-banner-image-aside{
	background: url(../../assets/heading-background.png) no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 150px;
}
.edit-fullname{
	padding-top: 50px;
}
#search-btn{
	padding: 5.5px;
}
.search-input{
	border-radius: 0;
	border: none;
}

// dashboard

#userFilterElement{
padding-left: 0px;
}
.profile-icon{
	padding-right: 10px;
	color: $dark-grey;
}
footer{
	@include font-size-medium;
	background-color: $light-grey;
	text-align: center;
	height: 70px;
	color: white;
	width: 100%;
	padding-top: 16px;
	margin-top: 20px;
	position: absolute;
	
}
