// Tabs for sign in/up
.navbar-brand {
	background-color: transparent;
	color: white;	
}
.navbar-text{
	color: white;
}

.navbar {
	margin-bottom: 70px;
	height: 70px;
	background-color: transparent;
	border-radius: none;
	border: none;

}
.landing-box-tab{
	border: none !important;
}

// override chrome placeholder css
input::placeholder{
	background-color: white;
}
/* Change the white to any color ;) */
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}

//background-image placeholder
.main-image {
	background: url(../../assets/heading-background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 65vh;
	padding-bottom: 50px;
}

//log-in header
.log-in {
	margin-top: 0;
}	

//user's profile image
.profile-image {
	@include profile-image;
}

.results-image {
	@include results-image;
}

.main-title {
	color: $white;
}

.main-subtitle {
	color: $white;
}
// placeholder image about page
.header-image{
	text-align: center;
	background: url(../../assets/meetingSpace.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:70vh;
	margin-bottom: 20px;
	position: relative;
}
.img-circle{
	padding: 20px;
	height: 300px;
}

// index
.landing-icon{
	width: 30%;
}
.step-container-header{
	margin-bottom: 20px;
}