.brand-text {
	font-family: $main-font;
	font-size: $font-heading;
	color: $dark-grey !important;
}

.info {
	font-size: 18px;
}

.featurette-heading {
	font-size: 30px;
	font-family: $font-heading;
}