.brand-text {
	font-family: $main-font;
	color: $dark-grey !important;
	@include font-size-regular;
}

.info {
	font-size: 18px;
}

.featurette-heading {
	font-size: 30px;
}

#brand-color {
    padding-top: 30px;
}
h1{
	@include font-size-x-large;
}
h2{
	@include font-size-large;
}
h3{
	@include font-size-regular;
}

p{
	@include font-size-small;
